.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-image: url("../myImages/bg.svg");
    filter: opacity(0.95);
    font-weight: 500;
    font-family:'Courier New', Courier, monospace;
    padding: 1rem 1rem 0rem 1rem;
    justify-content: center;
    box-shadow: 0px 0px 0px 2px rgb(139, 104, 104);
    z-index: 1;
    border-radius: 1rem;
  }
  
  .dropdown:hover .dropdown-content {
    display: block; 
  }
  .navlinks:hover{
    color: goldenrod;
  }
  